form {
    position: relative;
    width: 307px;
    align-self: center;
}

.form__mail {
    width: 307px;
    height: 47px;
    border-radius: 20px;
    border: 1px solid var(--desaturated-red);
    padding-left: 20px;
    font-size: 14px;
    position: relative;
    background-color: transparent;
}
.form__mail::placeholder {
    text-transform: capitalize;
    color: var(--desaturated-red);
    font-size: 14px;
}
.form__mail:focus {
    outline: 1px solid var(--desaturated-red);
}
.form__mail--error {
    border: 2px solid var(--soft-red);
}
.form__mail--error::before {
    content: url('../images/icon-error.svg');
}
.form__button {
    position: absolute;
    height: 47px;
    width: 65px;
    right: 0;
    background-image: linear-gradient( 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all .5s;
}

.form__button:hover {
    opacity: 65%;
    box-shadow: 0px 10px 10px 0px var(--desaturated-red);
}

.form__icon-error {
    position: absolute;
    margin-top: 10px;
    margin-left: -100px;
}

.form__p-error {
    color: var(--soft-red);
    margin-top: 12px;
    margin-left: 20px;
    font-size: 14px;
}
.disabled {
    display: none;
}


@media screen and (min-width: 768px) {
    .form {
        align-self: flex-start;
        width: 70%;
    }
    .form__mail {
        width: 100%;
        height: 55px;
        border-radius: 50px;
        padding-left: 30px;
    }
    .form__mail::placeholder, .form__p-error {
        font-size: 16px;
    }
    .form__button {
        height: 55px;
        width: 100px;
        border-radius: 50px;
    }
    .form__icon-error {
        margin-top: 15px;
        margin-left: -135px;
    }
}